<br>
<br>
<br>
<!-- <ul style="
    background-color: rgb(200, 204, 218);
    padding: 10px;
    padding-left: 20px;
    border: solid;
    border-color: rgb(150, 150, 150);
    max-width: 600px;">
      <li ng-repeat="items in narctrl.found">
        <div style="
          background-color: aliceblue; 
          margin: 8px;
          margin-bottom: 23px;
          padding: 5px;
          border: solid;
          max-width: 500px;
          overflow: auto;
          text-shadow: black;">
          Name: {{items.name}} <br>
          Short Name: {{items.short_name}} <br>
          Description: {{items.myDescription}}. <br>
          <button ng-click="narctrl.remove({index: $index});">Remove</button>
       </div>  
      </li>
    </ul> -->