<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
  <script src="app.js"></script>
<body>
  <div class="container" ng-controller="NarrowItDownController as narctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input ng-model="narctrl.myInput" type="text" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="narctrl.getMatched()" class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
    <br>
    <br>
    <br>

    <div id="warningdiv" ng-if="narctrl.warningEmpty()"
    style="color: rgb(206, 37, 37);
    font-size: 25px;
    font-weight: bold;"> 
    NOTHING FOUND</div>

  <div ng-if="!narctrl.isEmpty()">  
    <ul style="
    background-color: rgb(200, 204, 218);
    padding: 10px;
    padding-left: 20px;
    border: solid;
    border-color: rgb(150, 150, 150);
    max-width: 600px;">
      <li ng-repeat="items in narctrl.found">
        <div style="
          background-color: aliceblue; 
          margin: 8px;
          margin-bottom: 23px;
          padding: 5px;
          border: solid;
          max-width: 500px;
          overflow: auto;
          text-shadow: black;">
          Name: {{items.name}} <br>
          Short Name: {{items.short_name}} <br>
          Description: {{items.myDescription}}. <br>
          <button ng-click="narctrl.remove({index: $index});">Remove</button>
        </div>  
      </li>
    </ul>
  </div>


    <found-items-dir found-items="narctrl.found" ng-onRemove="narctrl.found"></found-items-dir>
  </div>

</body>
</html>
