#head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.container{

}

.child-divs {
    position: relative;
    box-sizing: border-box;
    height: 170px;

    margin: 20px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 45px;

    font-family: Arial, Helvetica, sans-serif;
    color:azure;
    background-color: rgb(87, 87, 103);
    border-style: solid;
    border-color: rgb(27, 27, 46);
    border-width: 3px;
    border-radius: 5px;
}

span{
    position: absolute;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    background-color: rgb(206, 191, 191);
    border-style: solid;
    border-color: rgb(27, 27, 46);
    border-width: 3px;
    top: 0px;
    right: 0px;
    font-size: larger;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
    .child-divs{
        width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #div1{
        width: calc(50% - 40px);
    }
    #div2{
        width: calc(50% - 40px);
    }
    #div3{
        width: calc(100% - 40px);
    }
}

@media (min-width: 992px) {
    .child-divs{
        width: calc(33.33% - 40px);
    }
}

